XML/DTD eta XSD/XSD/datuak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="datuak">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="eguna">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="astelehena"/>
                            <xs:enumeration value="asteartea"/>
                            <xs:enumeration value="asteazkena"/>
                            <xs:enumeration value="osteguna"/>
                            <xs:enumeration value="ostirala"/>
                            <xs:enumeration value="larunbata"/>
                            <xs:enumeration value="igandea"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="nan">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{8}[A-Z]"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="email">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[^@]+@[^@]+\.[^@]+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="izena">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                            <xs:maxLength value="20"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="adina">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="120"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="produktukodea">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:length value="4"/>
                            <xs:pattern value="[A-Z][0-9]{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
