XML/DTD eta XSD/DTD/saski2.dtd

<!ELEMENT saskia (eroslea, produktua)>

<!ELEMENT eroslea (izena, NAN, telefonoa)>
<!ATTLIST eroslea id ID #REQUIRED>

<!ELEMENT produktua (izena, kantitatea, prezioa)>
<!ATTLIST produktua id ID #REQUIRED>

<!ELEMENT izena (#PCDATA)>
<!ELEMENT NAN (#PCDATA)>
<!ELEMENT Telefonoa (#PCDATA)>

<!ELEMENT izena (#PCDATA)>
<!ELEMENT kantitatea (#PCDATA)>
<!ELEMENT prezioa (#PCDATA)>